body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: sans-serif;
}

#videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.4);
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

main {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
}
